.container {
    border-radius: 8px;
    box-shadow: 5px 5px black;
    padding: 20px;
    font-size: 20px;
    width: 500px;
    background-color: rgb(219, 219, 219);
}

.inside {
    border: 2px solid black;
    padding: 10px;
}

.paragrafo_destaque {
    color: red;
}